<h1>What is Funbetz?</h1>

<div class="about">
  <p>Funbetz is a website that allows people to play free parlay style bets on various sports.</p>

  <p>Players will be allowed to register and play without confirming an email address.</p>

  <p>After registering players will receive 100 free credits to play with.</p>

  <p>When clicking 'New Card' players will see a parlay card with the current week’s slate of games and point spreads as well as the payouts, e.g. ‘3 picks pay 6 to 1’, ‘4 picks pay 10 to 1’ etc.</p>

  <p>The header will read from left to right:  (column one) Favorite, (column two) Point Spread, (column three) Underdog.</p>

  <p>The team names in each of the two columns, ‘Favorite’ and ‘Underdog’ will be selectable buttons. </p>

  <p>In their false/default state they will be red. When they are clicked/selected they will turn green.</p>

  <p>Under the card will be a field with the title ‘Bet’ where players will enter the number of credits they wish to wager.</p>

  <p>Once the picks are made and the bet is set players must click the ‘Save’ button where upon the players will be redirected to their player page with all of their current cards.</p>

  <p>Cards may be deleted, but not edited.</p>

  <p>Each week the site will be updated with that week’s slate of games and the point spreads.</p>

  <p>Players will be able to discuss the games on the Funbetz forum.</p>

  <p>If players register their email they will be included on the 'Top Performers' page.</p>
</div>
