<h1>What is Funbetz?</h1>

<aside>
  <h4>Key</h4>
  <p>"payouts" - the credits you will earn if your card is a winner.</p>
  <p>"spread" - the total points a team is predicted to win by. If the favorite beats
  the underdog by a score equal or greater than the 'spread', they win AKA cover.</p>
</aside>

<div class="about">

  <p>Funbetz is a website that allows people to play free parlay style bets on various sports.</p>

  <p>Players will be allowed to register and play without confirming an email address.</p>

  <p class="eg">After registering players will receive 100 free credits to play with. If players run out of credits
   they will be able to buy 100 more for $1 or go into debt which will be relected in their score.</p>
    <small>- e.g. player at 0 or less borrows 100 more credits which results in their score being (-100)</small> <br>
    <small>- e.g. player at 0 or less buys 100 more credits for $1 which results in their score being (100)</small>

  <p class="eg">When clicking 'New Card' players will see a parlay card with the current week’s slate of games and point spreads as well as the payouts</p>
    <small>- e.g. ‘3 picks pay 6 to 1’, ‘4 picks pay 10 to 1’ etc.</small>

  <p>The header will read from left to right:  (column one) Favorite, (column two) Point Spread, (column three) Underdog.</p>

  <p>The team names in each of the two columns, ‘Favorite’ and ‘Underdog’ will be selectable buttons. </p>

  <p>In their false/default state they will be red. When they are clicked/selected they will turn green.</p>

  <p>Under the card will be a field with the title ‘Bet’ where players will enter the number of credits they wish to wager.</p>

  <p>Once the picks are made and the bet is set players must click the ‘Save’ button where upon the players will be redirected to their player page with all of their current cards.</p>

  <p>Cards may be deleted, but not edited.</p>

  <p>Each week the site will be updated with that week’s slate of games and the point spreads.</p>

  <p>Players will be able to discuss the games on the Funbetz forum.</p>

  <p>If players register their email they will be included on the 'Top Performers' page.</p>

</div>
