<header>
  <h1>Welcome to Funbetz!</h1>
  <h2>Where betz are just for fun</h2>
</header>

      <button class="bigbtn1">
        <p class="new_card"><%= link_to 'New Card', new_card_path %></p>
      </button>

      <button class="bigbtn2">
        <p class="my_cards"><%= link_to 'My Cards', cards_path %></p>
      </button>
